h1{
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
}
.skeleton-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.card{
    position: relative;
    width: 30%;
    height: 200px;
    border-radius: 15px;
    background: linear-gradient(to bottom right, rgb(251, 251, 251), rgb(93, 202, 252))
}
.card:hover{
    cursor: pointer;
}

.card__content{
    margin-left: 10px;
}

.card__content h2{
    color: rgb(77, 136, 231);
}

.card__content span{
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 30px;
    color: rgb(46, 57, 124);
    font-weight: Bold;
}

.card__sale{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -20px;
    top: -7px;
    background-color: rgb(243, 71, 71);
    width: 12%;
    height: 17%;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    font-weight: Bold;
}

